<div class="container mt-4">
  
  <table class="table">
    
    <thead>
      <tr>
        <th> ID </th>
        <th> Marque </th>
        <th> Modèle </th>
        <th> Action </th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let car of cars">
        <td> {{car.id}} </td>
        <td> {{car.marque}} </td>
        <td> {{car.modele}} </td>
        <td> <button class="btn btn-primary" (click)="showCard(car)">Détails</button> </td>
      </tr>
    
    </tbody>

  </table>

  <div class="card">

    <div class="card-body">

      <h5 class="card-title">Détails de la voiture</h5>
      <p class="card-text"> <span> Id : </span> {{id}}</p>
      <p class="card-text"> <span> Marque : </span> {{marque}}</p>
      <p class="card-text"> <span> Modele : </span> {{modele}}</p>
    
    </div>
  
  </div>

</div>
